<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllSuites">
    <listeners>
        <listener class-name="com.ecom.tests.support.RetryListener"/>
        <listener class-name="com.ecom.tests.support.FinalResultListener"/>
    </listeners>
<!--    <suite-files>-->
<!--        <suite-file path="src/test/resources/suites/dashboard/functional.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/endpoint.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/alias1.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/alias2.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/binInfo.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/capture.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/cross.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/kafka.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/onbording.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/new_tests/service01.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/mt/p2p/p2p.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/mt/xml/go.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/paylink/api/merchant.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/paylink/api/stoplist.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/paylink/redirect/go.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/paylink/token/xml_json.xml"/>-->
<!--        <suite-file path="src/test/resources/suites/paylink/xml/go.xml"/>-->
<!--    </suite-files>-->
    <test name="Login">
        <classes>
            <class name="tests.dashboard.functional.tests.Login.LoginSuccess" />
            <class name="tests.dashboard.functional.tests.Login.LoginUnsuccess" />
        </classes>
    </test>
    <test name="Tools">
        <classes>
            <class name="tests.dashboard.functional.tests.Tools.Invoicing" />
            <class name="tests.dashboard.functional.tests.Tools.Multipay_Invoices" />
        </classes>
    </test>
    <test name="Merchants">
        <classes>
            <class name="tests.dashboard.functional.tests.Merchants.SearchMerchant" />
        </classes>
    </test>
    <test name="MoneyTransfer">
        <classes>
            <class name="tests.dashboard.functional.tests.MoneyTransfer.DomesticTransfer" />
            <!--<class name="tests.dashboard.functional.tests.MoneyTransfer.ExchangeRate" />-->
        </classes>
    </test>
    <test name="Payments">
        <classes>
            <class name="tests.dashboard.functional.tests.Payments.Transaction" />
        </classes>
    </test>

    <test name="FastRefund">
        <classes>
            <class name="tests.dashboard.functional.tests.FastRefund.FastRefund" />
            <class name="tests.dashboard.functional.tests.FastRefund.FastRefund_Partial" />
            <class name="tests.dashboard.functional.tests.FastRefund.FastRefund_Reversal_PartialFastRefund" />
        </classes>
    </test>
    <test name="Settings">
        <classes>
            <class name="tests.dashboard.functional.tests.Settings.StopList">
                <!-- <methods>
                    <exclude name="deleteCardFromStopList" />
                <</methods>-->
            </class>
        </classes>
    </test>
    <test name="funding mc">
        <classes>
            <class name="tests.mt.p2p.tests.aval.fundingMC.P2P_FundingMCPaymenVisa" />
        </classes>
    </test>
    <test name="aval">
        <classes>
            <class name="tests.mt.api.aval.AccountToCard" />
            <class name="tests.mt.api.aval.CardToAccount" />
            <class name="tests.mt.api.aval.CardToAccount_Revers" />
            <class name="tests.mt.api.aval.CardToAccountAttempt" />
            <class name="tests.mt.api.aval.CardToAccountAttempt_Revers" />
            <class name="tests.mt.api.aval.CardToAccountEMV3DS" />
            <class name="tests.mt.api.aval.CardToAccountEMV3DS_Revers" />
            <class name="tests.mt.api.aval.CardToAccountFull3DS" />
            <class name="tests.mt.api.aval.CardToAccountFull3DS_Revers" />
            <class name="tests.mt.api.aval.CardToCardAttemptMasterVisa" />
            <class name="tests.mt.api.aval.CardToCardEMV3DSMasterMaster" />
            <class name="tests.mt.api.aval.CardToCardEMV3DSMasterVisa" />
            <class name="tests.mt.api.aval.CardToCardEMV3DSMasterVisa_Revers" />
            <class name="tests.mt.api.aval.CardToCardFull3DSMasterMaster" />
            <class name="tests.mt.api.aval.CardToCardFull3DSMasterMaster_Revers" />
            <class name="tests.mt.api.aval.CardToCardFull3DSMasterVisa" />
            <class name="tests.mt.api.aval.CardToCardMasterMaster" />
            <class name="tests.mt.api.aval.CardToCardMasterVisa" />
            <class name="tests.mt.api.aval.CardToCardMasterVisa_Revers" />
            <class name="tests.mt.api.aval.FastRefund_ApprovalCode_RRN" />
            <class name="tests.mt.api.aval.FastRefund_Token" />
            <class name="tests.mt.api.aval.FastRefund_CardNumber" />
        </classes>
    </test>
    <test name="Alias1">
        <classes>
            <class name="tests.com.Alias1.CreateAlias1"/>
            <class name="tests.com.Alias1.UpdateAlias1"/>
            <class name="tests.com.Alias1.GetAlias1"/>
            <class name="tests.com.Alias1.ResolveAlias1"/>
            <class name="tests.com.Alias1.InquiryAlias1"/>
            <class name="tests.com.Alias1.DeleteAlias1"/>
        </classes>
    </test>
    <test name="Alias2">
        <classes>
            <class name="tests.com.Alias2.CreateAlias2"/>
            <class name="tests.com.Alias2.GetAlias2"/>
            <class name="tests.com.Alias2.GetAlias2IdByValue"/>
            <class name="tests.com.Alias2.GetAlias2ByExternalId"/>
            <class name="tests.com.Alias2.InquiryAlias2"/>
            <class name="tests.com.Alias2.ResolveAlias2"/>
            <class name="tests.com.Alias2.UpdateAlias2"/>
            <class name="tests.com.Alias2.UpdateAlias2status"/>
            <class name="tests.com.Alias2.CreatePaymentCredentialAlias2"/>
            <class name="tests.com.Alias2.GetPaymentCredentialAlias2"/>
            <class name="tests.com.Alias2.GetAllPaymentCredentialsAlias2"/>
            <class name="tests.com.Alias2.DeletePaymentCredentialAlias2"/>
            <class name="tests.com.Alias2.DeleteAlias2"/>
        </classes>
    </test>
    <test name="BinInfo">
        <classes>
            <class name="tests.com.Bin.GetBinInfoTestVISA"/>
            <!--TODO: uncomment when service fixed-->
            <!--            <class name="tests.com.Bin.GetBinInfoTestMC"/>-->
            <!--            <class name="tests.com.Bin.GetBinInfoTestMAES"/>-->
        </classes>
    </test>
    <test name="capture">
        <classes>
            <class name="tests.com.Capture.Preauthorization"/>
            <class name="tests.com.Capture.Postauthorization"/>
        </classes>
    </test>
    <test name="Cross">
        <classes>
            <class name="tests.com.Cross.CrossBorder"/>
            <class name="tests.com.Cross.CrossBorderXML"/>
        </classes>
    </test>
    <test name="Endpoint">
        <classes>
            <class name="tests.com.Endpoint.BaseTest"/>
            <class name="tests.com.Endpoint.RbhuMerchantTest"/>
            <class name="tests.com.Endpoint.GoMerchantTest"/>
            <class name="tests.com.Endpoint.KbcMerchantTest"/>
            <class name="tests.com.Endpoint.RbalMerchantTest"/>
            <class name="tests.com.Endpoint.RbaMerchantTest"/>
            <class name="tests.com.Endpoint.RbbhMerchantTest"/>
            <class name="tests.com.Endpoint.RbiMerchantTest"/>
            <class name="tests.com.Endpoint.RbkoMerchantTest"/>
            <class name="tests.com.Endpoint.RbrsMerchantTest"/>
        </classes>
    </test>
    <test name="Kafka">
        <classes>
            <class name="tests.com.Kafka.TestFactory"/>
            <class name="tests.com.Kafka.RBHU_Old_front"/>
            <class name="tests.com.Kafka.RBHU_New_front"/>
            <class name="tests.com.Kafka.DashboardLogin"/>
            <class name="tests.com.Kafka.Maildev"/>
            <class name="tests.com.Kafka.KafdropEmail"/>
            <class name="tests.com.Kafka.KafdropReceipt"/>
        </classes>
    </test>
    <test name="onbording">
        <classes>
            <class name="tests.com.Onbording.Onboarding"/>
        </classes>
    </test>
    <test name="service01">
        <classes>
            <class name="tests.com.Service01.Purchase"/>
            <class name="tests.com.Service01.Service01_HTML"/>
            <class name="tests.com.Service01.Service01_JSON"/>
        </classes>
    </test>
    <test name="required fields">
        <classes>
            <class name="tests.paylink.api.onboarding.CreateMerchant">
                <methods>
                    <exclude name="mcPaymentFacilitator" />
                    <exclude name="visaPaymentFacilitatorCliche" />
                </methods>
            </class>
            <class name="tests.paylink.api.onboarding.GetMerchant" />
            <class name="tests.paylink.api.onboarding.UpdateMerchant">
                <methods>
                    <exclude name="Test02" />
                </methods>
            </class>
            <class name="tests.paylink.api.onboarding.GetMerchant" />
            <class name="tests.paylink.api.onboarding.GetStatus" />
            <class name="tests.paylink.api.onboarding.DeleteMerchant" />
        </classes>
    </test>
    <test name="mcPaymentFacilitator">
        <classes>
            <class name="tests.paylink.api.onboarding.CreateMerchant">
                <methods>
                    <exclude name="createMerchant" />
                    <exclude name="visaPaymentFacilitatorCliche" />
                </methods>
            </class>
            <class name="tests.paylink.api.onboarding.GetMerchant" />
            <class name="tests.paylink.api.onboarding.UpdateMerchant">
                <methods>
                    <exclude name="Test01" />
                </methods>
            </class>
            <class name="tests.paylink.api.onboarding.GetMerchant" />
            <class name="tests.paylink.api.onboarding.GetStatus" />
            <class name="tests.paylink.api.onboarding.DeleteMerchant" />
        </classes>
    </test>
    <test name="visaPaymentFacilitatorCliche">
        <classes>
            <class name="tests.paylink.api.onboarding.CreateMerchant">
                <methods>
                    <exclude name="createMerchant" />
                    <exclude name="mcPaymentFacilitator" />
                </methods>
            </class>
            <class name="tests.paylink.api.onboarding.GetMerchant" />
            <class name="tests.paylink.api.onboarding.UpdateMerchant">
                <methods>
                    <exclude name="Test01" />
                </methods>
            </class>
            <class name="tests.paylink.api.onboarding.GetMerchant" />
            <class name="tests.paylink.api.onboarding.GetStatus" />
            <class name="tests.paylink.api.onboarding.DeleteMerchant" />
        </classes>
    </test>
    <test name="PAN">
        <classes>
            <class name="tests.paylink.api.stoplist.CreateItem" />
            <class name="tests.paylink.api.stoplist.GetItem" />
            <class name="tests.paylink.api.stoplist.UpdateItem" />
            <class name="tests.paylink.api.stoplist.FindItem" />
            <class name="tests.paylink.api.stoplist.DeleteItem" />
        </classes>
    </test>
    <test name="go">
        <classes>
            <class name="tests.paylink.redirect.test.aval.AccountVerification" />
            <class name="tests.paylink.redirect.test.aval.Authorization" />
            <class name="tests.paylink.redirect.test.aval.AuthorizationRevers" />
            <class name="tests.paylink.redirect.test.aval.AuthorizationRefund" />
            <class name="tests.paylink.redirect.test.aval.AuthorizationRefundOnLine" />
            <class name="tests.paylink.redirect.test.aval.FacilitatorAuth" />
            <class name="tests.paylink.redirect.test.aval.FacilitatorAuthRevers" />
            <class name="tests.paylink.redirect.test.aval.FacilitatorAuthRefund" />
            <class name="tests.paylink.redirect.test.aval.MCInstallment" />
            <class name="tests.paylink.redirect.test.aval.MCInstallmentRevers" />
            <class name="tests.paylink.redirect.test.aval.PreAuthorizationPost" />
            <class name="tests.paylink.redirect.test.aval.PreAuthorizationPostRevers" />
            <class name="tests.paylink.redirect.test.aval.PreAuthorizationPostLessAmount" />
            <class name="tests.paylink.redirect.test.aval.PreAuthorizationPostRefund" />
            <class name="tests.paylink.redirect.test.aval.Invoicing" />
            <class name="tests.paylink.redirect.test.aval.InvoicingRevers" />
        </classes>
    </test>
    <test name="xml">
        <classes>
            <class name="tests.paylink.tokens.xml.TokenXml" />
        </classes>
    </test>
    <test name="json">
        <classes>
            <class name="tests.paylink.tokens.json.TokenJson" />
        </classes>
    </test>
    <test name="paylink">
        <classes>
            <class name="tests.paylink.xml.Facilitator" />
            <class name="tests.paylink.xml.Facilitator_Revers" />
            <class name="tests.paylink.xml.Facilitator_Refund" />
            <class name="tests.paylink.xml.LookUp" />
            <class name="tests.paylink.xml.Masterpass" />
            <class name="tests.paylink.xml.Masterpass_Refund" />
            <class name="tests.paylink.xml.Masterpass_Revers" />
            <class name="tests.paylink.xml.Moto" />
            <class name="tests.paylink.xml.Moto_Refund" />
            <class name="tests.paylink.xml.Moto_Refund_Part" />
            <class name="tests.paylink.xml.Moto_Revers" />
            <class name="tests.paylink.xml.Payment" />
            <class name="tests.paylink.xml.Payment_Refund" />
            <class name="tests.paylink.xml.Payment_Refund_Part" />
            <class name="tests.paylink.xml.PaymentRefundPartDiffDay" />
            <class name="tests.paylink.xml.Payment_RefundOnLine" />
            <class name="tests.paylink.xml.Payment_Revers" />
            <class name="tests.paylink.xml.PreAuthorization" />
            <class name="tests.paylink.xml.PreAuthorizationPost" />
            <class name="tests.paylink.xml.PreAuthorizationPost_Refund" />
            <class name="tests.paylink.xml.PreAuthorizationPost_Revers" />
            <class name="tests.paylink.xml.PreAuthorizationPostAttempt" />
            <class name="tests.paylink.xml.PreAuthPostMoreAmountRefund" />
            <class name="tests.paylink.xml.PreAuthPostMoreAmountRevers" />
            <class name="tests.paylink.xml.RecurrentInitial" />
            <class name="tests.paylink.xml.RecurrentInitial_Refund" />
            <class name="tests.paylink.xml.RecurrentInitial_Revers" />
            <class name="tests.paylink.xml.RecurrentSubsequent" />
            <class name="tests.paylink.xml.RecurrentSubsequent_Refund" />
            <class name="tests.paylink.xml.RecurrentSubsequent_Revers" />
            <class name="tests.paylink.xml.SettlementRefund_Aval" />
            <class name="tests.paylink.xml.Facilitator" />
        </classes>
    </test>

</suite>